html,
body,
#react-root {
  height: 100%;
}

body {
  background-image: url('../Images/yellow-notebook.png');
  background-repeat: repeat;
  margin: 0;
}
.displayDate{
  padding: 15px;
  margin: 0;
}
input[type="date"]{
  background-color: #7f76ba;
  /* position: absolute; */
  color: #edf4ee;
  font-family: Roboto monospace;
  font-size: large;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
::-webkit-calendar-picker-indicator{
  background-color: #24c782;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}
.exercisesContainer{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exerciseBox {
  /* Add styles for the exercise box */
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 200px;
  display: flex;
  justify-content: center;
  background-color: #ccdced;
  border-radius: 10px;
  transition: background-color 0.3s ease; 
}
.exerciseBox:hover {
  background-color: #cf0edc; 
}
.exercise {
  /* Add styles for the exercises text */
  margin: 0;
  font-family: fantasy;
  color: #000066;
}
.footerDisplayPage {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00acb0;
  padding: 10px;
}

.footerDisplayPage button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footerDisplayPage button:hover {
  background-color: #cf0edc;
}

/* .btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
} */
/* 
.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
} */

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}
