.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
  margin: 0 0 10px;
  background-color: #00acb0;
  overflow: hidden;
}



.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #00acb0;
  text-align: center;
  padding: 24px 20px;
  text-decoration: none;
  font-size: 15px;
  border: none;
  cursor: pointer;
  outline: 0;
}

